body, html {
  margin: 0;
  padding: 0;
  font-family: 'Suranna', serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Prevent any horizontal overflow */
  background: #f2f2f2; /* Make sure gradient is the same across */
}

.App {
  display: grid;
  grid-template-rows: 80px 1fr; /* 80px row for navbar, rest for content */
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
}
.main-content {
  padding-top: 100px; /* Adjust based on navbar height */
  overflow-y: auto; /* Allows content to scroll */
}
h1, p {
  color: #031930; /* Adjust color for good contrast */
}
.page-content {
  padding: 20px;
  text-align: center;
  color: #031930;
  font-family: 'Suranna', serif;
}

body.landing-body {
  background: linear-gradient(90deg, #1f2f98, #1ca7ec) !important;
}
