body.darkmode {
    background: radial-gradient(circle at 50% 50%, #000000, #737373);
    color: #ffffff; /* Ensure text is visible */
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Suranna', serif;
  }

   body.darkmode p {
    color: #ffffff; /* Adjust color for good contrast */
  }

  body.darkmode h1 {
    color: #ffffff; /* Adjust color for good contrast */
  }

  body.darkmode .page-content {
    padding: 20px;
    text-align: center;
    color: #ffffff;
    font-family: 'Suranna', serif;
  }
  
  body.darkmode .navbar {
    background: linear-gradient(135deg, #0097b2, #031930);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.24rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.705);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  body.darkmode .navbar-logo {
    color: #000000;
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
    margin-left: -15vh;
    transition: color 0.5s ease;
    font-weight: 600;
  }
  
  body.darkmode .navbar-logo:hover {
    color: #dddddd;
  }
  
  body.darkmode .nav-links {
    color: #000000;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    transition: color 0.5s ease;
    font-weight: 600;
  }
  
  body.darkmode .nav-links:hover {
    color: #ffffff;
  }
  
  body.darkmode .mode-toggle {
    background: transparent;
    border: none;
    color: #000000;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    transition: color 0.5s ease, background-color 0.5s ease;
    font-weight: 600;
    margin-left: 1.5rem;
    font-family: 'Suranna';
    font-size: 1.2rem;
  }
  
  body.darkmode .mode-toggle:hover {
    color: #ffffff;
  }

  body.darkmode .column:nth-child(odd) h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 700;
    color: #031930;
  }
  
  body.darkmode .column:nth-child(even) h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 700;
    color: #0097b2;
  }
  
  body.darkmode .column:nth-child(odd) p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Josefin Sans';
  }
  
  body.darkmode .column:nth-child(even) p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Josefin Sans';
  }
  
  body.darkmode .column-button {
    margin-top: 20px;
    padding: 12px 25px;
    background: #0f222e;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  body.darkmode .column-button:hover {
    background-color: #000000;
  }
  
  /* Background color alternation for odd and even columns */
  body.darkmode .columns-container .column:nth-child(odd) {
    background-color: #0097b2; 
  }
  
  body.darkmode .columns-container .column:nth-child(even) {
    background-color: #031930; 
  }
  
  /* Contact Section */
  body.darkmode .contact-section {
    text-align: center;
    padding: 50px 30px;
    background-color: #f5f5f5;
    position: relative;
    margin-top: 30px;
    min-height: 50vh;
    display: flex;
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    flex-direction: column; /* Stack content vertically */
  }

  body.darkmode .contact-section h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #d1dded;  /* Adjust text color */
  }
  
  /* Paragraph under the title */
  body.darkmode .contact-section p {
    font-size: 2rem;
    margin-bottom: 40px;
    color: #d1dded;  /* Adjust text color */
  }

  body.darkmode .contact-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem; /* Adjust icon size */
    color: #031930; /* Green color for icons */
    cursor: pointer; /* Make icons clickable */
  }
  
  /* Text label under the icons */
  body.darkmode .contact-icon p {
    font-size: 1.1rem;
    color: #031930;
    margin-top: 5px;
    text-transform: uppercase;
  }

  body.darkmode .denoising-page-container {
    grid-row: 2;
    overflow-y: auto;
    width: 100%; /* Full width */
    height: calc(100vh - 80px); /* Full height minus navbar height */
    display: flex;
    flex-direction: column;
    padding: 2rem;
    color: #ffffff;
  }

  body.darkmode .step:nth-child(odd){
    background-color: #223a59;
  }
  
  body.darkmode .step:nth-child(even){
    background-color: #031930;
  }

  body.darkmode .custom-file-label {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    background: #223a59;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-bottom: 1.5rem;
  }

  body.darkmode .custom-file-label:hover {
    background-color: #031930;
    transform: scale(1.05);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  }

  body.darkmode .custom-file-label {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #223a59;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-bottom: 1.5rem;
  }
  
  body.darkmode .custom-file-label:hover {
    background-color: #031930;
    transform: scale(1.05);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  }

  body.darkmode .denoise-button {
    padding: 12px 24px;
    font-size: 1.1rem;
    background: #223a59;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    margin-top: 20px; /* Space between the button and previous content */
    width: 100%; /* Button width */
    max-width: 300px; /* Maximum width for the button */
    text-align: center;
    margin-left: 750px;
    font-family: Suranna;
  }
  
  body.darkmode .denoise-button:hover {
    background-color: #031930;
    transform: scale(1.05);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  }

  body.darkmode .progress-section progress::-webkit-progress-value {
    background: linear-gradient(to right, #0097b2, #031930);
    border-radius: 10px;
  }

  body.darkmode .image-comparison .original-image,
  body.darkmode .image-comparison .processed-image {
  position: relative;
  width: 100%; /* Larger width */
  height: 100%; /* Larger height */
  border: 2px solid #031930;
  border-radius: 8px; /* Rounded corners for a cleaner look */
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Adds a soft shadow */
}

body.darkmode .image-comparison .original-image h4,
body.darkmode .image-comparison .processed-image h4 {
  background: #223a59;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

body.darkmode .download-button,
body.darkmode .edit-button {
  padding: 10px 20px;
  font-size: 1rem;
  background: #223a59;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

body.darkmode .download-button:hover{
  background-color: #031930;
  transform: scale(1.05);
}

/*INPAINTING*/

body.darkmode .inpainting-page-container {
  grid-row: 2;
  overflow-y: auto;
  width: 100%;
  height: calc(100vh - 80px); /* Full height minus navbar height */
  display: flex;
  flex-direction: column;
  padding: 2rem;
  color: #ffffff;
}

body.darkmode .inpainting-step:nth-child(odd){
  background-color: #223a59;
}

body.darkmode .inpainting-step:nth-child(even){
  background-color: #031930;
}

body.darkmode .inpaint-button {
  padding: 12px 24px;
  font-size: 1.1rem;
  background: #223a59;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  margin-top: 20px; /* Space between the button and previous content */
  width: 100%; /* Button width */
  max-width: 300px; /* Maximum width for the button */
  text-align: center;
  margin-left: 750px;
  font-family: Suranna;
}

body.darkmode .inpaint-button:hover {
  background-color: #031930;
  transform: scale(1.05);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

/*Super*/

body.darkmode .super-page-container {
  grid-row: 2;
  overflow-y: auto;
  width: 100%; /* Full width */
  height: calc(100vh - 80px); /* Full height minus navbar height */
  display: flex;
  flex-direction: column;
  padding: 2rem;
  color: #ffffff;
}

body.darkmode .super-step:nth-child(odd){
  background-color: #223a59;
}

body.darkmode .super-step:nth-child(even){
  background-color: #031930;
}

body.darkmode .super-button {
  padding: 12px 24px;
  font-size: 1.1rem;
  background: #223a59;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  margin-top: 20px; /* Space between the button and previous content */
  width: 100%; /* Button width */
  max-width: 300px; /* Maximum width for the button */
  text-align: center;
  margin-left: 750px;
  font-family: Suranna;
}

body.darkmode .super-button:hover {
  background-color: #031930;
  transform: scale(1.05);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

body.darkmode .sign-up-panel input, body.darkmode .sign-in-panel input,  body.darkmode .forgot-password-panel input, body.darkmode .reset-password-panel input {
  width: 100%; /* Adjusted to fit properly */
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 30px;
  border: none;
  background: #7070708c;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.5s ease-in-out forwards;
  animation-delay: calc(var(--order) * 0.1s);
}

body.darkmode .form-button, body.darkmode .back-button {
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 30px;
  border: none;
  color: white;
  background: radial-gradient(circle at 50% 50%, #545454, #b0b0b0);
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

body.darkmode .email-icon {
  font-size: 3rem; /* Adjust the size of the icon */
  margin: 1rem auto; /* Center the icon and add spacing */
  color: #ffffff; /* Match the theme color */
  text-align: center;
  animation: bounce 1.2s infinite ease-in-out; /* Add a subtle bounce animation */
}

body.darkmode .sign-up-panel.expanded,
body.darkmode .sign-in-panel.expanded {
  height: auto;
  padding: 3.45rem;
  background-image: url("./bisi2.PNG")
}
body.darkmode .forgot-password-panel{
  background: radial-gradient(circle at 0 0, #f2f2f2, #8f8f8f);
  color: #000000;
  font-size: 1.1rem;
}

body.darkmode .reset-password-panel{
  background: radial-gradient(circle at 0 0, #f2f2f2, #8f8f8f);
  color: #000000;
  font-size: 1.1rem;
}

body.darkmode .sign-up-panel.collapsed {
  height: 8vh;
  padding: 1rem;
  transform: translateY(-5%);
  transition: height 0.6s ease, transform 0.6s ease;
  background: linear-gradient(180deg, #545454, #b0b0b0);

}

body.darkmode .sign-in-panel.collapsed {
  height: 8vh;
  padding: 1rem;
  transform: translateY(5%);
  transition: height 0.6s ease, transform 0.6s ease;
  background: linear-gradient(180deg, #545454, #b0b0b0);
}

body.darkmode .edit-main p{
  color: black;
  font-size: 3rem;
}

body.darkmode .mri-home {
  background: linear-gradient(90deg, #1f2f98, #1ca7ec);
}

body.darkmode .blue-band {
  background-color: #37729c;
}

body.darkmode .dark-band {
  background: #0f222e;
}