body, html {
    margin: 0;
    padding: 0;
    font-family: 'Suranna', serif;
    height: 100%;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal overflow */
  }
  
  .navbar {
    background: linear-gradient(135deg, #e7ded0, #37729c);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.24rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.705);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 0px;
  }
  
  .navbar-logo {
    color: #031930;
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
    margin-left: -15vh;
    transition: color 0.5s ease;
    font-weight: 600;
  }
  
  .navbar-logo:hover {
    color: #ffffff;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: -15vh;
  }
  
  .nav-item {
    height: 80px;
    margin-left: 1.5rem;
  }
  
  .nav-links {
    color: #031930;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    transition: color 0.5s ease;
    font-weight: 600;
  }
  
  .nav-links:hover {
    color: #ffffff;
  }
  
  .mode-toggle {
    background: transparent;  /* Gradient background */
    border: none;  /* Remove default button border */
    color: #031930;  /* Text color */
    text-decoration: none;
    padding: 0.5rem 1rem;  /* Same padding as the nav links */
    height: 100%;  /* Full height like the nav links */
    display: flex;
    align-items: center;
    transition: color 0.5s ease, background-color 0.5s ease;
    font-weight: 600;
    margin-left: 1.5rem;  /* Same margin as other items */
    font-family: 'Suranna';
    font-size: 1.2rem;
  }
  
  .mode-toggle:hover {
    color: #ffffff;  /* Change text color on hover */
  }
  
  .nav-item:last-child {
    margin-right: 0;  /* Remove right margin for the last item */
  }
  